td.sound {
    width: 80%
}

.sound {
    padding: 20px;
    border: solid 1px black;
}

.hidden-input {
    opacity: 0;
    overflow: hidden;
    position: absolute;
}

.insert-file {
    width: 25px;
    height: 25px;
}
